<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Real Estate Management</h1>
        <div class="auth-buttons">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </header>
    <div class="main-content">
        <h1>Admin Dashboard</h1>        
        <h2>Manage Properties</h2>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Location</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for property in properties %}
            <tr>
                <td>{{ property[1] }}</td>
                <td>{{ property[2] }}</td>
                <td>{{ property[3] }}</td>
                <td>{{ property[4] }}</td>
                <td>{{ property[6] }}</td>
                <td><a href="{{ url_for('delete_property', property_id=property[0]) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>

        <h2>Manage Users</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[4] }}</td>
                <td><a href="{{ url_for('delete_user', user_id=user[0], role=user[4]) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        <p style="text-align: center;">© 2025 Skanda P R | Contact: skandapr9@gmail.com</p>
    </footer>
</body>
</html>
