<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Real Estate Management</h1>
        <div class="auth-buttons">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </header>
    <div class="main-content">
        <h1>Customer Dashboard</h1>
        <h2>Available Properties</h2>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Location</th>
                <th>Owner</th>
                <th>Action</th>
            </tr>
            {% for property in properties %}
            <tr>
                <td>{{ property[1] }}</td>
                <td>{{ property[2] }}</td>
                <td>{{ property[3] }}</td>
                <td>{{ property[4] }}</td>
                <td>{{ property[6] }}</td>
                <td>
                    <a href="{{ url_for('book_property', property_id=property[0]) }}">Book</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        {% if bookings %}
        <h2>Properties Booked</h2>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Location</th>
                <th>Owner</th>
                <th>Action</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking[1] }}</td>
                <td>{{ booking[2] }}</td>
                <td>{{ booking[3] }}</td>
                <td>{{ booking[4] }}</td>
                <td>{{ booking[6] }}</td>
                <td>
                    <a href="{{ url_for('cancel_property', property_id=booking[0]) }}">Cancel Booking</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p style="margin-left: 30px; font-size: 20px;">No properties booked.</p>
        {% endif %}
    </div>
    <footer>
        <p style="text-align: center;">© 2025 Skanda P R | Contact: skandapr9@gmail.com</p>
    </footer>
</body>
</html>
